<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lyqiaofu.business.dao.BookIndexDao">

	<select id="list" resultType="com.lyqiaofu.business.domain.BookIndexDO">
		select
			`id`,`book_id`,`index_num`,`index_name`,`word_count`,`is_vip`,`create_time`
		from
			book_index
		<where>
			<if test="bookId != null and bookId != ''"> and book_id = #{bookId} </if>
		</where>
		order by id asc
		<if test="offset != null and limit != null">
			limit ${offset}, ${limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from book_index
		<where>
			<if test="bookId != null and bookId != ''"> and book_id = #{bookId} </if>
		</where>
	</select>

	<delete id="remove">
		delete from book_index where id = #{indexId}
	</delete>

	<delete id="batchRemove">
		delete from book_index where id in
		<foreach item="indexId" collection="array" open="(" separator="," close=")">
			#{indexId}
		</foreach>
	</delete>
</mapper>