<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lyqiaofu.business.dao.BookCommentDao">

	<select id="list" resultType="com.lyqiaofu.business.domain.BookCommentDO">
		select
			`id`,`work_direction`,`name`,`sort`,`create_time`,`update_time`
		from
			book_comment
		order by id desc
		<if test="offset != null and limit != null">
			limit ${offset}, ${limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from book_comment
	</select>

	<delete id="remove">
		delete from book_comment where book_id = #{bookId}
	</delete>

</mapper>