<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lyqiaofu.business.dao.BookSettingDao">

	<select id="list" parameterType="map" resultType="com.lyqiaofu.business.domain.BookSettingDO">
		select
			`id`,`book_id`,`sort`,`type`
		from book_setting
        <where>  
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="bookId != null and bookId != ''"> and book_id = #{bookId} </if>
		  <if test="type != null and type != ''"> and type = #{type} </if>
		</where>
		order by id desc
		<if test="offset != null and limit != null">
			limit ${offset}, ${limit}
		</if>
	</select>

 	<select id="count" resultType="int">
		select count(*) from book_setting
		 <where>
			 <if test="id != null and id != ''"> and id = #{id} </if>
			 <if test="bookId != null and bookId != ''"> and book_id = #{bookId} </if>
			 <if test="type != null and type != ''"> and type = #{type} </if>
		 </where>
	</select>

	<select id="get" resultType="com.lyqiaofu.business.domain.BookSettingDO">
		select `id`,`book_id`,`sort`,`type` from book_setting where id = #{value}
	</select>

	<delete id="remove">
		delete from book_setting where id = #{value}
	</delete>

	<update id="update" parameterType="com.lyqiaofu.business.domain.BookSettingDO">
		update book_setting
		<set>
			<if test="bookId != null">`book_id` = #{bookId},</if>
			<if test="type != null">`type` = #{type},</if>
			update_time = now()
		</set>
		where id = #{id}
	</update>
</mapper>